{% extends "layouts/main.html" %}

{% block pageTitle %}
  Facilities you are responsible for - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Facilities you are responsible for
      </h1>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="facility-1-status">
              Celsa Manufacturing (UK) Limited, Section Mill
            </a>
          </div>
          <div class="govuk-task-list__status" id="facility-1-status">
            Review facility
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="report-submitted" aria-describedby="facility-2-status">
              Celsa Manufacturing (UK) Limited, Tremorfa Melt Shop
            </a>
          </div>
          <div class="govuk-task-list__status" id="facility-2-status">
            <strong class="govuk-tag govuk-tag--green">
              Report submitted
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="facility-3-status">
              Celsa Manufacturing UK Ltd, Cardiff Rod And Bar Mill
            </a>
          </div>
          <div class="govuk-task-list__status" id="facility-3-status">
            <strong class="govuk-tag govuk-tag--yellow">
              Report in progress
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="nace-confirm?facility-name=Celsa Swansea Scrap Yard" aria-describedby="facility-4-status">
              Celsa Swansea Scrap Yard
            </a>
          </div>
          <div class="govuk-task-list__status" id="facility-4-status">
            Ready to report
          </div>
        </li>
      </ul>

      {% call govukDetails({
        summaryText: "Help"
      }) %}
        Text here
      {% endcall %}

    </div>
  </div>

{% endblock %}
