{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pollutant Release and Transfer data collection – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Pollutant Release and Transfer data collection
      </h1>

      <p>
        <a href="facilities">Reporting for 2026</a><br>
        Some descriptive information here?
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>
        <a href="">Check contact details and facilities</a><br>
        Some descriptive information here?
      </p>

    </div>
  </div>

{% endblock %}
