{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm the NACE code of this facility in 2025 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{ data['facility-name'] }}</span>
      <h1 class="govuk-heading-xl">
        Confirm the NACE code of this facility in 2026
      </h1>

      <form class="form" action="activity-confirm" method="post">

        <p>The NACE code should define the main economic activity of this facility.</p>

        <h2 class="govuk-heading-m">NACE code</h2>
        <p class="govuk-!-margin-bottom-6">24.10 - Manufacture of basic iron and steel and of ferro-alloys</p>

        {{ govukRadios({
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "Is this Nace code correct for this facility for 2026?",
              classes: "govuk-fieldset__legend--m govuk-!-padding-top-2"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, this NACE code is correct"
            },
            {
              value: "no",
              text: "No, I need to update this NACE code"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a class="govuk-link" href="facilities">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
