{% extends "layouts/main.html" %}

{% block pageTitle %}
  Celsa Swansea Scrap Yard – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ data['facility-name'] }} report
      </h1>

      {{ govukSummaryList({
        card: {
          title: {
            text: "Reporting year 2026"
          }
        },
        rows: [
          {
            key: {
              text: "NACE code"
            },
            value: {
              html: "24.10 - Manufacture of basic iron and steel and of ferro-alloys"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NACE code"
                }
              ]
            }
          },
          {
            key: {
              text: "Main activity"
            },
            value: {
              html: "2.b Pig iron or steel"
            }
          },
          {
            key: {
              text: "Other activities"
            },
            value: {
              html: "No other activities"
            }
          },
          {
            key: {
              text: "Confidentiality for all facility data"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Reason for confidentiality"
            },
            value: {
              html: "Reason 1"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Pollutant releases"
          },
          actions: {
            items: [
              {
                href: "releases/medium",
                text: "Add"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              html: "You have not added any pollutants",
              classes: "govuk-!-width-full govuk-!-font-weight-regular"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Pollutant transfers to wastewater"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Add"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              html: "You have not added any pollutant transfers to wastewater",
              classes: "govuk-!-width-full govuk-!-font-weight-regular"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Waste transfers"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Add"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              html: "You have not added any waste transfers",
              classes: "govuk-!-width-full govuk-!-font-weight-regular"
            }
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit",
          href: "cannot-submit"
        }) }}

        <a class="govuk-link" href="facilities">Return to facilities</a>
      </div>

    </div>
  </div>

{% endblock %}
