{% extends "layouts/main-no-nav.html" %}

{% block pageTitle %}
  PRTR data management system – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        PRTR data management system
      </h1>

      <p>This site is being replaced.</p>

      <p>The new data entry service will be available before the next PRTR data collection period in January 2027.</p>

      <p>Learn more about the <a href="https://www.gov.uk/guidance/uk-pollutant-release-and-transfer-register-prtr-data-sets">UK Pollutant Release and Transfer Register (PRTR)</a>.</p>

    </div>
  </div>

{% endblock %}
