{% extends "layouts/main-mvp.html" %}

{% block pageTitle %}
  Download all data for a year – Search industrial pollutant emissions – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Download all data for a year
      </h1>

      <p>
        Download all PRTR data for a reporting year as an XML file.
      </p>
      <ul class="govuk-list">
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2024 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2024 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2023 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2023 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2022 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2022 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2021 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2021 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2020 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2020 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2019 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2019 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2018 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2018 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2017 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2017 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2016 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2016 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2015 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2015 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2014 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2014 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2013 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2013 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2012 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2012 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2011 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2011 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2010 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2010 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2009 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2009 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2008 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2008 data
            </span>
          </a>
        </li>
        <li>
          <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2007 data for all facilities" href="">
            <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                    <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                </svg>
            </span>
            <span class="aq-button-secondary__text">
                Download 2007 data
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
