{% extends "layouts/main.html" %}

{% block pageTitle %}
  UK Pollutant Release and Transfer Register (PRTR) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        UK Pollutant Release and Transfer Register (PRTR)
      </h1>
      <p>Something here about why the site is so stripped back, under construction?</p>
      <p>
        <a href="download">Download all data for a year</a><br>
        Some descriptive information about the downloads here?
      </p>
    </div>
  </div>

{% endblock %}
