{% extends "layouts/main-mvp.html" %}

{% block pageTitle %}
   Search industrial pollutant emissions – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Search industrial pollutant emissions
      </h1>
      <p>This site is under development. We're building new search and review functionality for UK Pollutant Release and Transfer Register (PRTR) datasets.</p>
      <p>You can:</p>
      <p>
        <a href="download">Download industrial emissions and waste transfer data</a>
      </p>
    </div>
  </div>

{% endblock %}
