{% extends "layouts/main.html" %}

{% block pageTitle %}
  Brunswick Waste Reception Site – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Brunswick Waste Reception Site
      </h1>

      <p>
        <a href="facility-details">Facility details</a>
      </p>
      <p>
        <a href="authority">Competent authority details</a>
      </p>
      <p>
        <a href="location-search.html">Start new search</a>
      </p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l govuk-!-margin-top-7">
        Releases and transfers
      </h2>

      <nav class="moj-sub-navigation govuk-!-margin-bottom-9" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="facility-record">2024</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="facility-record-2023">2023</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2022</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2021</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2020</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2019</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2018</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2017</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2016</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2015</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2014</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2013</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2012</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2011</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2010</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2009</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2008</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2007</a>
          </li>
        </ul>
      </nav>

      <h3 class="govuk-heading-m">
        Pollutant releases to air in 2023
      </h3>
      <p class="govuk-!-margin-bottom-9">No data reported</p>

      <h3 class="govuk-heading-m">
        Pollutant releases to water in 2023
      </h3>
      <p class="govuk-!-margin-bottom-9">No data reported</p>

      <h3 class="govuk-heading-m">
        Pollutant releases to soil in 2023
      </h3>
      <p class="govuk-!-margin-bottom-9">No data reported</p>

      <h3 class="govuk-heading-m">
        Pollutant transfers to waste water in 2023
      </h3>
      <p class="govuk-!-margin-bottom-9">No data reported</p>

      <h3 class="govuk-heading-m">
        Waste transfers in 2023
      </h3>
      <p class="govuk-!-margin-bottom-9">No data reported</p>

      <!-- <h2 class="govuk-heading-m govuk-!-margin-top-7">
        Download data for 2023
      </h2>
      <p>
        <a role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3" aria-label="Download 2009 data for all facilities" href="">
          <span class="aq-button-secondary__icon">
              <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                  <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
              </svg>
          </span>
          <span class="aq-button-secondary__text">
              Download all 2023 data for this facility
          </span>
        </a>
      </p> -->
    </div>
  </div>

{% endblock %}
