{% extends "layouts/main.html" %}

{% block pageTitle %}
  Zinc and compounds (as Zn) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Zinc and compounds (as Zn)
      </h1>

      <h2 class="govuk-heading-m">
        What else is it known as?
      </h2>
      <p>
        Zinc and compounds (as Zn) can also be known as Zn.
      </p>
      <h2 class="govuk-heading-m">
        What is it?
      </h2>
      <p>
        Pure zinc is a blue-white, shiny, brittle metal. It has a relatively low melting point (420 degrees celsius) and conducts electricity fairly well. Compounds of zince are usually highly coloured.
      </p>
      <h2 class="govuk-heading-m">
        What is it used for?
      </h2>
      <p>
        Zinc and its compounds have a variety of uses: in corrosion resistant coatings, in dry-cell batteries, in alloys (mixtures of metals) such as brass and bronze and in the manufacture of paints, plastics, rubber, dyes, wood preservatives and cosmetics.
      </p>
      <h2 class="govuk-heading-m">
        Where does it come from?
      </h2>
      <p>
        The main man-made releases of zinc to the environment are from metal production processes, from industrial combustion of coal, from waste incineration and from worn rubber tyres on vehicles. Small amounts are also released naturally from the earth's crust.
      </p>
      <h2 class="govuk-heading-m">
        How might it affect the environment?
      </h2>
      <p>
        Releases of zinc can significantly affect local aquatic environments - accumulating in aquatic organisms (but not plants) and poisoning species that then eat them. However in the UK, emissions high enough to cause potentially damaging levels are rare. Zinc emissions are unlikely to have any environmental effects at a global level.
      </p>
      <h2 class="govuk-heading-m">
        How might exposure to it affect human health?
      </h2>
      <p>
        Zinc is an essential nutrient for humans, but excessive amounts (more than twice the recommended daily intake) can be harmful. Exposure to potentially harmful levels usually occurs through drinking of contaminated water (due to zinc water pipes or accidental industrial releases). Effects include nausea and stomach cramps. Long-term exposure to high concentrations may cause "metal fume fever" which affects the lungs and the body's temperature control system.
      </p>
      <h2 class="govuk-heading-m">
        What steps are being taken to limit the potential impacts?
      </h2>
      <p>
        In the UK , releases of zinc are controlled through the Environment Permitting Regulations 2008 (PPC) regulations. European Directives covering the control of zinc emissions include those concerned with the evaluation and control of risks posed by certain substances (793/93); the treatment of hazardous wastes (2268/95); and the pollution of the aquatic environment (76/464). At an international level, releases of zinc are controlled through the OSPAR convention on protection of the marine environment of the north-east Atlantic; the Basel convention on the transboundary movement and disposal of hazardous wastes; and it is also listed as a priority substance under the Helsinki convention which protects the marine environment of the Baltic sea.
      </p>

    </div>
  </div>
{% endblock %}
