{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nickel and compounds (as Ni) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Nickel and compounds (as Ni)
      </h1>

      <h2 class="govuk-heading-m">
        What else is it known as?
      </h2>
      <p>
        Nickel and compounds (as Ni) can also be known as Ni.
      </p>
      <h2 class="govuk-heading-m">
        What is it?
      </h2>
      <p>
        Pure nickel is a silvery white metal with a high melting point (1453 degrees celsius). It is hard, malleable (bend-able), ductile (can be drawn into wires), magnetic and it is also a conductor of both heat and electricity. Compounds of nickel are both inorganic (usually green salts) and organic (carbon-containing).
      </p>
      <h2 class="govuk-heading-m">
        What is it used for?
      </h2>
      <p>
        Nickel has many uses and is found in thousands of applications: it is used to make steel and other alloys (mixtures of metals), to make permanent magnetic materials, in batteries, in the chemical, petroleum, transportation and electrical industries, in electro-plating and in ceramics.
      </p>
      <h2 class="govuk-heading-m">
        Where does it come from?
      </h2>
      <p>
        The main man-made releases of nickel are from the burning of coal and heavy fuel oil (particularly from refineries); from mining and refining processes; and waste incineration. Small amounts are released naturally from the earth's crust.
      </p>
      <h2 class="govuk-heading-m">
        How might it affect the environment?
      </h2>
      <p>
        Releases of nickel are unlikey to have an immediate effect on the local environment. Although it does not accumulate in fish, plants or animals, nickel does accumulate in soils and sediments and may ultimately have an adverse effect on water quality. No significant effects on the global environment are expected.
      </p>
      <h2 class="govuk-heading-m">
        How might exposure to it affect human health?
      </h2>
      <p>
        Exposure to nickel can occur through handling of metal articles containing nickel (including coins or jewellery) or through consumption of contaminated food. In most cases this will have little adverse effect on health, although this depends on the type of nickel compounds involved and the type of exposure. Some compounds of nickel (but not the pure metal itself) are thought to be carcinogenic - mainly causing lung cancers.
      </p>
      <h2 class="govuk-heading-m">
        What steps are being taken to limit the potential impacts?
      </h2>
      <p>
        In the UK releases of nickel are controlled by legislation concerning the classification of dangerous substances released to surface waters (SI 1997/2560). European Directives controlling releases of nickel include those concerned with pollution of the aquatic environment by dangerous substances (76/464); restriction of the marketing and use of potentially dangerous substances (76/769/EEC); the evaluation and control of certain substances (793/93); and it is one of the "priority substances" in the proposed Water Framework Directive.
      </p>

    </div>
  </div>
{% endblock %}
