{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nonylphenol and Nonylphenol ethoxylates (NP/NPEs) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Nonylphenol and Nonylphenol ethoxylates (NP/NPEs)
      </h1>

      <h2 class="govuk-heading-m">
        What else is it known as?
      </h2>
      <p>
        Nonylphenol and Nonylphenol ethoxylates (NP/NPEs) can also be known as NPs.
      </p>
      <h2 class="govuk-heading-m">
        What is it?
      </h2>
      <p>
        Nonylphenols (NPs) are a group of related chemicals. Under normal conditions, they are thick liquids which are clear to pale yellow in colour. NPs are very stable and unreactive. Most NPs are virtually insoluble in water, but will dissolve in organic (carbon-containing) solvents.
      </p>
      <h2 class="govuk-heading-m">
        What is it used for?
      </h2>
      <p>
        NPs are mainly used in the chemical industry to produce the widely used Nonylphenol ethoxylates (NPEs). NPs are commonly used in laboratory applications. They are also added to a number of commercial products: paints, adhesives, pesticides, plastics and rubbers, lubricating oils, cleaning agents and cosmetics.
      </p>
      <h2 class="govuk-heading-m">
        Where does it come from?
      </h2>
      <p>
        NPs may be released during their manufacture and during the use and disposal of products containing them. NPs are also formed when widely used Nonlyphenol ethoxylates (NPEs) break down in the environment. There are not thought to be any natural sources of NPs to the environment.
      </p>
      <h2 class="govuk-heading-m">
        How might it affect the environment?
      </h2>
      <p>
        NPs are known to be very toxic to wildlife, particularly aquatic organisms. There is also concern that they mimic the behaviour of animal hormones, that they are an "endocrine disruptor". NPs can be very persistent in the environment. This persistence means that they can be transported far from the point of original release. NPs are accumulated and concentrated by aquatic organisms and birds. It is therefore possible that the presence of NPs in the environment poses a long-term threat to wildlife on both a local and global scale.
      </p>
      <h2 class="govuk-heading-m">
        How might exposure to it affect human health?
      </h2>
      <p>
        Nonylphenols can enter the body either by the inhalation of air containing nonylphenols, ingestion of contaminated water or food, or by dermal contact with nonylphenols. Inhalation of air containing nonylphenols can irritate the respiratory tract. Exposure to high levels of nonylphenols may affect the reproductive system, kidneys and liver. Ingestion of nonylphenols may lead to irritation of the digestive tract. Exposure to high levels may result in similar effects as those for inhalation. Dermal contact can cause skin irritation. Contact with the eyes may cause irritation. There is little evidence for the full effects of exposure to nonylphenols on human health. The International Agency for Research on Cancer has not designated nonylphenols in terms of their carcinogenicity. However, exposure to nonylphenols at normal background levels is unlikely to have any adverse effect on human health.
      </p>
      <h2 class="govuk-heading-m">
        What steps are being taken to limit the potential impacts?
      </h2>
      <p>
        Since 1976, the UK government has had a voluntary agreement with industry that NPs are not added to domestic detergents. The main aim of this is to protect aquatic environments. Otherwise, releases of NPs are controlled through the UK Pollution, Prevention and Control (PPC) Regulations. At a European level, they are regulated through the Directive which evaluates and controls the risks of substances known to be in the environment (793/93), that concerned with pollution of the aquatic environment (76/464/EEC) and it is listed as a "priority hazardous substance" under the Water Framework Directive. At an international level, it is recommended that the use of NPs be phased out under the OSPAR Convention and it is listed as a substance for priority action under the Helsinki Convention, which protect the marine environments of the north-east Atlantic Ocean and Baltic Sea respectively.
      </p>

    </div>
  </div>
{% endblock %}
