{% extends "layouts/main-no-nav.html" %}

{% set pageName="Public facing register" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

     <h1 class="govuk-heading-xl">
      Public facing register
    </h1>

    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Usability testing protoypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Dates</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">What is being tested</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">5</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">23 March to <br/>3 April 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>Public list, legal basis, search, filter and listing details</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="public-list/ur-links.html">Launch prototype</a></p>
          </td>
        </tr>
      </tbody>
    </table> -->

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Sprints and iterations</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Dates</th>
          <th scope="col" class="govuk-table__header govuk-table__header" width="50%">Iteration notes</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">14</th>
          <td scope="row" class="govuk-table__cell">10 August to <br/>21 August 2026</td>
          <td class="govuk-table__cell">
            <p>
              First iteration of data entry service, based on <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1782901736573/ccd244dee42d3e5dbb0ab00f00a91a01d5a875d3?wid=0-1790176575312">V5 mockups in Mural</a>
            </p>
          </td>
          <td class="govuk-table__cell">
            <a href="iteration-1/enter-email.html">Launch prototype</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
