{% extends "layouts/main.html" %}

{% block pageTitle %}
  Was the hazardous waste transferred to a site overseas? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/waste-movement" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">{{ data['facility-name'] }}</span>
              <h1 class="govuk-fieldset__heading">
                Was the hazardous waste transferred to a site overseas?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hazardous-in-UK" name="wasteMovement" type="radio" value="overseas">
                <label class="govuk-label govuk-radios__label" for="hazardous">
                  Yes, it was transferred overseas
                </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hazardous-overseas" name="wasteMovement" type="radio" value="inUK">
                <label class="govuk-label govuk-radios__label" for="nonhazardous">
                  No, it was transferred within the UK
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
