{% extends "layouts/main.html" %}

{% block pageTitle %}
  What type of waste are you reporting on? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/waste-type" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">{{ data['facility-name'] }}</span>
              <h1 class="govuk-fieldset__heading">
                What type of waste are you reporting on?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hazardous" name="wasteType" type="radio" value="hazardous">
                <label class="govuk-label govuk-radios__label" for="hazardous">
                  Hazardous waste
                </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nonhazardous" name="wasteType" type="radio" value="nonhazardous">
                <label class="govuk-label govuk-radios__label" for="nonhazardous">
                  Non-hazardous waste
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
