{% extends "layouts/main.html" %}

{% block pageTitle %}
  What was the category of the pollutant released to {{ data['releaseMedium'] }}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ data['facility-name'] }}</span>
      <form class="form" action="select-pollutant-from-category" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What was the category of the pollutant released to {{ data['releaseMedium'] }}?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                {% if ( data["releaseMedium"] == "air") %}
                  {% for category in data['releaseAirCat'] %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="category{{ category['id'] }}" name="pollutantCategory" type="radio" value="{{ category['name'] }}">
                      <label class="govuk-label govuk-radios__label" for="category{{ category['id'] }}">
                        {{ category['name'] }}
                      </label>
                    </div>
                  {% endfor %}
          
                {% elseif ( data["releaseMedium"] == "land") %}
                  {% for category in data['releaseLandCat'] %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="category{{ category['id'] }}" name="pollutantCategory" type="radio" value="{{ category['name'] }}">
                      <label class="govuk-label govuk-radios__label" for="category{{ category['id'] }}">
                        {{ category['name'] }}
                      </label>
                    </div>
                  {% endfor %}

                {% elseif ( data["releaseMedium"] == "water") %}
                  {% for category in data['releaseWaterCat'] %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="category{{ category['id'] }}" name="pollutantCategory" type="radio" value="{{ category['name'] }}">
                      <label class="govuk-label govuk-radios__label" for="category{{ category['id'] }}">
                        {{ category['name'] }}
                      </label>
                    </div>
                  {% endfor %}
                {% endif %}
        
              </div>
            </fieldset>
          </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
