{% extends "layouts/main.html" %}

{% block pageTitle %}
  What was the method of {{ data['pollutant-data'] }}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ data['facility-name'] }}</span>
      <form class="form" action="" method="post">
        {% if ( data["pollutant-data"] == "measurement") %}
          {% set designation %}
            {{ govukInput({
              id: "M-INT-designation",
              name: "MINTDesignation",
              classes: "govuk-input--width-10",
              label: {
                text: "Enter ISO or CEN designation",
                classes: "govuk-label--s"
              }
            }) }}
            {% endset -%}
          {{ govukRadios({
            name: "pollutant-method",
            fieldset: {
              legend: {
                html: "What was the method of measurement?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "M-ALT",
                text: "M-ALT"
              },
              {
                value: "M-CRM",
                text: "M-CRM"
              },
              {
                value: "M-ETS",
                text: "M-ETS"
              },
              {
                value: "M-INT",
                text: "M-INT",
                conditional: {
                html: designation
              }
              },
              {
                value: "M-IPCC",
                text: "M-IPCC"
              },
              {
                value: "M-MAB",
                text: "M-MAB"
              },
              {
                value: "M-NRB",
                text: "M-NRB"
              },
              {
                value: "M-OTH",
                text: "M-OTH"
              },
              {
                value: "M-PER",
                text: "M-PER"
              },
              {
                value: "M-SSC",
                text: "M-SSC"
              },
              {
                value: "M-UNECE/EMEP",
                text: "M-UNECE/EMEP"
              },
              {
                value: "M-WEIGH",
                text: "M-WEIGH"
              }
            ]
          }) }}
        {% elseif ( data["pollutant-data"] == "calculation") %}
          {% set Cdesignation %}
            {{ govukInput({
              id: "C-INT-designation",
              name: "CINTDesignation",
              classes: "govuk-input--width-10",
              label: {
                text: "Enter ISO or CEN designation",
                classes: "govuk-label--s"
              }
            }) }}
            {% endset -%}
          {{ govukRadios({
            name: "pollutant-method",
            fieldset: {
              legend: {
                html: "What was the method of calculation?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "C-ALT",
                text: "C-ALT"
              },
              {
                value: "C-CRM",
                text: "C-CRM"
              },
              {
                value: "C-ETS",
                text: "C-ETS"
              },
              {
                value: "C-INT",
                text: "C-INT",
                conditional: {
                html: Cdesignation
              }
              },
              {
                value: "C-IPCC",
                text: "C-IPCC"
              },
              {
                value: "C-MAB",
                text: "C-MAB"
              },
              {
                value: "C-NRB",
                text: "C-NRB"
              },
              {
                value: "C-OTH",
                text: "C-OTH"
              },
              {
                value: "C-PER",
                text: "C-PER"
              },
              {
                value: "C-SSC",
                text: "C-SSC"
              },
              {
                value: "C-UNECE/EMEP",
                text: "C-UNECE/EMEP"
              },
              {
                value: "C-WEIGH",
                text: "C-WEIGH"
              }
            ]
          }) }}
        {% endif %}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
