{% extends "layouts/main.html" %}

{% block pageTitle %}
  Download all data for a year – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Download all data for a year
      </h1>

      <p>
        Some information on what the downloads contain and typical file size?
      </p>
      <ul class="govuk-list">
        <li><a href="">Download 2007 data</a></li>
        <li><a href="">Download 2008 data</a></li>
        <li><a href="">Download 2009 data</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
