{% extends "layouts/main.html" %}

{% block pageTitle %}
  Brunswick Waste Reception Site – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Brunswick Waste Reception Site
      </h1>

      <p>
        <a href="facility-details">Facility details</a>
      </p>
      <p>
        <a href="authority">Competent authority details</a>
      </p>
      <p>
        <a href="location-search.html">Start new search</a>
      </p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l govuk-!-margin-top-7">
        Releases and transfers
      </h2>

      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2007</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2008</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2009</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2010</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2011</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2012</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2013</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2014</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2015</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2016</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2017</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2018</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2019</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2020</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2021</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2022</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">2023</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="#">2024</a>
          </li>
        </ul>
      </nav>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Pollutant releases to air in 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Pollutant</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total released</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Threshold / Safe level</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Additional detail</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td scope="row" class="govuk-table__cell">
              <a href="lead">Lead and compounds (as Pb)</a>
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              612kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              200kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-!-text-align-right">
              <a href="air-release-additional">View details</a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Pollutant releases to water in 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Pollutant</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total released</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Threshold / Safe level</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Additional detail</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td scope="row" class="govuk-table__cell">
              <a href="nonylphenols.html">Nonylphenol and Nonylphenol ethoxylates (NP/NPEs)</a>
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              110kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              1kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-!-text-align-right">
              <a href="water-release-additional">View details</a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Pollutant releases to soil in 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Pollutant</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total released</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Threshold / Safe level</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Additional detail</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td scope="row" class="govuk-table__cell">
              <a href="zinc">Zinc and compounds (as Zn)</a>
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              3,460kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              100kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-!-text-align-right">
              <a href="soil-release-additional">View details</a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Pollutant transfers to waste water in 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Pollutant</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total transferred</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Threshold / Safe level</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Additional detail</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td scope="row" class="govuk-table__cell">
              <a href="nickel">Nickel and compounds (as Ni)</a>
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              24kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric">
              20kg
            </td>
            <td scope="row" class="govuk-table__cell govuk-!-text-align-right">
              <a href="transfer-additional">View details</a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Waste transfers in 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Quantity</th>
            <th scope="col" class="govuk-table__header">Waste type</th>
            <th scope="col" class="govuk-table__header">Treatment</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Additional detail</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td scope="row" class="govuk-table__cell">
              134,982 TONNE
            </td>
            <td scope="row" class="govuk-table__cell">
              Non hazardous waste
            </td>
            <td scope="row" class="govuk-table__cell">
              Recovery
            </td>
            <td scope="row" class="govuk-table__cell govuk-!-text-align-right">
              <a href="nonhazardous-waste-additional">View details</a>
            </td>
          </tr>
          <tr>
            <td scope="row" class="govuk-table__cell">
              7,026 TONNE
            </td>
            <td scope="row" class="govuk-table__cell">
              Domestic hazardous waste
            </td>
            <td scope="row" class="govuk-table__cell">
              Recovery
            </td>
            <td scope="row" class="govuk-table__cell govuk-!-text-align-right">
              <a href="domestic-hazardous-waste-additional">View details</a>
            </td>
          </tr>
          <tr>
            <td scope="row" class="govuk-table__cell">
              5,788 TONNE
            </td>
            <td scope="row" class="govuk-table__cell">
              Transboundary hazardous waste
            </td>
            <td scope="row" class="govuk-table__cell">
              Disposal
            </td>
            <td scope="row" class="govuk-table__cell govuk-!-text-align-right">
              <a href="tb-hazardous-waste-additional">View details</a>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">
        Download data for 2004
      </h2>
      <p><a href="">Download all 2024 data for this facility</a></p>
    </div>
  </div>

{% endblock %}
