{% extends "layouts/main.html" %}

{% block pageTitle %}
  Additional details of transfer to waste water – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Additional details of transfer to waste water
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Pollutant transferred to waste water"
            },
            value: {
              text: "Nickel and compounds (as Ni)"
            }
          },
          {
            key: {
              text: "Total transferred"
            },
            value: {
              text: "24kg"
            }
          },
          {
            key: {
              text: "Threshold / Safe level"
            },
            value: {
              text: "20kg"
            }
          },
          {
            key: {
              text: "Accidentally released"
            },
            value: {
              text: "0"
            }
          },
          {
            key: {
              text: "Percentage of total accidentally released"
            },
            value: {
              text: "0%"
            }
          },
          {
            key: {
              text: "Method of obtaining data"
            },
            value: {
              text: "Estimated"
            }
          },
          {
            key: {
              text: "Method description"
            },
            value: {
              text: "Estimated."
            }
          },
          {
            key: {
              text: "Confidentiality requested"
            },
            value: {
              text: "None"
            }
          }
        ]
      }) }}


    </div>
  </div>
{% endblock %}
